<div ng-controller="speakersCtrl as speakers">
    <div *ngIf="member" class="page col-1 dark-blue-sea">
        <h3 class="page-head-left light-grey-color">{{speaker.title.rendered}}</h3>

        <div class="col-1 dim-transparent user-card">
            <div class="bio">
                <div class="circletag">
                    <img src="{{speaker.userImageUrl}}">
                </div>
                <div class="fa fa-graduation-cap  green-sea-color bio-info">
                    <p ng-bind-html="speaker.topics"></p>
                </div>
                <div class="fa fa-star  green-sea-color bio-info">
                    <p ng-bind-html="speaker.location"></p>
                </div>
                <div class="fa fa-envelope green-sea-color bio-info">
                    <p ng-bind-html="speaker.email"></p>
                </div>
            </div>
            <div class="page-content  green-sea light-grey-color user-content" ng-bind-html="speaker.content.rendered"></div>
        </div>


    </div>


</div>